:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#maps {
  height: 100%;
  padding: 15px;
  /* margin: 0; */
  display: flex;
  /* flex-wrap: wrap; */
  margin-right: -15px;
  margin-left: -15px;
}

#map-container, leaflet-map, openlayers-map, cesium-map {
  /* z-index: 0; */
  height: 100%;
  width: 45%;
  position: relative;
  padding-right: 15px;
  padding-left: 15px;
  text-align: center;
}
div[id$="-map"] {
  z-index: 0;
  height: 80%;
  width: 100%;
  position: relative;
  padding-right: 15px;
  padding-left: 15px;
}